*{
  text-align: center;
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: dimgray;
}

span{
  font-size: 18px;
  color: white;
}

a{
  color: white;
  font-size: 18px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p.process{
  font-size: 14px;
}

p.resources{
  font-size: 14px;
}

.process{
  color: dimgray;
}

.resources{
  color: dimgray;
}

.header2{
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.header1{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.header2{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png); 
}

.footer{
  background-color: dimgray;
  color: white;
  text-align: left !important;
}

#footer{
  font-size: 11px;
  color: white;
  text-align: left !important;
}
